<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form th:action="@{/search}" method="get">
         <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search for music"  >
         <button type="submit" class="btn btn-info" >Search</button>
    </form>

    <div>
        <h2>Songs</h2>
        <ul th:each="track: ${tracks}">
            <li th:text="${track.Name}"></li>
            <li th:text="${track.Composer}"></li>
            <li th:text="${track.AlbumName}"></li>
            <li th:text="${track.GenreName}"></li>
        </ul>
    </div>

</body>
</html>